openapi: 3.2.0
info:
  title: BatchManagementClient Application Package API
  version: '2025-06-01'
  description: The Batch Management Client.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: ApplicationPackage
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationName}/versions
  : get:
      operationId: ApplicationPackage_List
      tags:
      - ApplicationPackage
      description: Lists all of the application packages in the specified application.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: applicationName
        in: path
        description: The name of the application. This must be unique within the account.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      - name: maxresults
        in: query
        description: The maximum number of items to return in the response.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApplicationPackagesResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ApplicationPackageList:
          $ref: ./examples/ApplicationPackageList.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Application package list
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationName}/versions/{versionName}
  : get:
      operationId: ApplicationPackage_Get
      tags:
      - ApplicationPackage
      description: Gets information about the specified application package.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: applicationName
        in: path
        description: The name of the application. This must be unique within the account.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      - name: versionName
        in: path
        description: The version of the application.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-][a-zA-Z0-9_.-]*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackage'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ApplicationPackageGet:
          $ref: ./examples/ApplicationPackageGet.json
      summary: Application package get
      x-summary-source: derived
    put:
      operationId: ApplicationPackage_Create
      tags:
      - ApplicationPackage
      description: Creates an application package record. The record contains a storageUrl where the package should be uploaded to. Once it is uploaded the `ApplicationPackage` needs to be activated using `ApplicationPackageActive` before it can be used. If the auto storage account was configured to use storage keys, the URL returned will contain a SAS.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: applicationName
        in: path
        description: The name of the application. This must be unique within the account.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      - name: versionName
        in: path
        description: The version of the application.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-][a-zA-Z0-9_.-]*$
      responses:
        '200':
          description: Resource 'ApplicationPackage' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackage'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ApplicationPackageCreate:
          $ref: ./examples/ApplicationPackageCreate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationPackage'
        description: The parameters for the request.
      summary: Application package create
      x-summary-source: derived
    delete:
      operationId: ApplicationPackage_Delete
      tags:
      - ApplicationPackage
      description: Deletes an application package record and its associated binary file.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: applicationName
        in: path
        description: The name of the application. This must be unique within the account.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      - name: versionName
        in: path
        description: The version of the application.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-][a-zA-Z0-9_.-]*$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ApplicationPackageDelete:
          $ref: ./examples/ApplicationPackageDelete.json
      summary: Application package delete
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationName}/versions/{versionName}/activate
  : post:
      operationId: ApplicationPackage_Activate
      tags:
      - ApplicationPackage
      description: Activates the specified application package. This should be done after the `ApplicationPackage` was created and uploaded. This needs to be done before an `ApplicationPackage` can be used on Pools or Tasks.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: applicationName
        in: path
        description: The name of the application. This must be unique within the account.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      - name: versionName
        in: path
        description: The version of the application.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-][a-zA-Z0-9_.-]*$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPackage'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ApplicationPackageActivate:
          $ref: ./examples/ApplicationPackageActivate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateApplicationPackageParameters'
        description: The parameters for the request.
        required: true
      summary: Application package activate
      x-summary-source: derived
components:
  schemas:
    PackageState:
      type: string
      description: The current state of the application package.
      enum:
      - Pending
      - Active
      x-ms-enum:
        name: PackageState
        modelAsString: false
        values:
        - name: Pending
          value: Pending
          description: The application package has been created but has not yet been activated.
        - name: Active
          value: Active
          description: The application package is ready for use.
    ListApplicationPackagesResult:
      type: object
      description: The result of performing list application packages.
      properties:
        value:
          type: array
          description: The ApplicationPackage items on this page
          items:
            $ref: '#/components/schemas/ApplicationPackage'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    ApplicationPackageProperties:
      type: object
      description: Properties of an application package
      properties:
        state:
          $ref: '#/components/schemas/PackageState'
          description: The current state of the application package.
          readOnly: true
        format:
          type: string
          description: The format of the application package, if the package is active.
          readOnly: true
        storageUrl:
          type: string
          description: The URL for the application package in Azure Storage.
          readOnly: true
        storageUrlExpiry:
          type: string
          format: date-time
          description: The UTC time at which the Azure Storage URL will expire.
          readOnly: true
        lastActivationTime:
          type: string
          format: date-time
          description: The time at which the package was last activated, if the package is active.
          readOnly: true
    CloudErrorBody:
      type: object
      description: An error response from the Batch service.
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - message
          - target
      x-ms-external: true
    ActivateApplicationPackageParameters:
      type: object
      description: Parameters for an activating an application package.
      properties:
        format:
          type: string
          description: The format of the application package binary file.
      required:
      - format
    CloudError:
      type: object
      description: An error response from the Batch service.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The body of the error response.
      x-ms-external: true
    ApplicationPackage:
      type: object
      description: An application package which represents a particular version of an application.
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationPackageProperties'
          description: The properties associated with the Application Package.
          x-ms-client-flatten: true
        etag:
          type: string
          description: The ETag of the resource, used for concurrency statements.
          readOnly: true
        tags:
          type: object
          description: The tags of the resource.
          additionalProperties:
            type: string
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
