openapi: 3.2.0
info:
  title: BatchManagementClient Detector Responses API
  version: '2025-06-01'
  description: The Batch Management Client.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: DetectorResponses
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/detectors
  : get:
      operationId: BatchAccount_ListDetectors
      tags:
      - DetectorResponses
      description: Gets information about the detectors available for a given Batch account.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorListResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ListDetectors:
          $ref: ./examples/DetectorList.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Batch account list detectors
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/detectors/{detectorId}
  : get:
      operationId: BatchAccount_GetDetector
      tags:
      - DetectorResponses
      description: Gets information about the given detector for a given Batch account.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: detectorId
        in: path
        description: The name of the detector.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectorResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GetDetector:
          $ref: ./examples/DetectorGet.json
      summary: Batch account get detector
      x-summary-source: derived
components:
  schemas:
    DetectorResponse:
      type: object
      description: Contains the information for a detector.
      properties:
        properties:
          $ref: '#/components/schemas/DetectorResponseProperties'
          description: The properties associated with the detector.
          x-ms-client-flatten: true
        etag:
          type: string
          description: The ETag of the resource, used for concurrency statements.
          readOnly: true
        tags:
          type: object
          description: The tags of the resource.
          additionalProperties:
            type: string
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    DetectorListResult:
      type: object
      description: Paged collection of DetectorResponse items
      properties:
        value:
          type: array
          description: The DetectorResponse items on this page
          items:
            $ref: '#/components/schemas/DetectorResponse'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    DetectorResponseProperties:
      type: object
      description: Detector response properties.
      properties:
        value:
          type: string
          description: A base64 encoded string that represents the content of a detector.
    CloudErrorBody:
      type: object
      description: An error response from the Batch service.
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - message
          - target
      x-ms-external: true
    CloudError:
      type: object
      description: An error response from the Batch service.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The body of the error response.
      x-ms-external: true
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
