openapi: 3.2.0
info:
  title: BatchManagementClient Pool API
  version: '2025-06-01'
  description: The Batch Management Client.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Pool
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools
  : get:
      operationId: Pool_ListByBatchAccount
      tags:
      - Pool
      description: Lists all of the pools in the specified account.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: maxresults
        in: query
        description: The maximum number of items to return in the response.
        required: false
        schema:
          type: integer
          format: int32
      - name: $select
        in: query
        description: Comma separated list of properties that should be returned. e.g. "properties/provisioningState". Only top level properties under properties/ are valid for selection.
        required: false
        schema:
          type: string
      - name: $filter
        in: query
        description: 'OData filter expression. Valid properties for filtering are:


          name

          properties/allocationState

          properties/allocationStateTransitionTime

          properties/creationTime

          properties/provisioningState

          properties/provisioningStateTransitionTime

          properties/lastModified

          properties/vmSize

          properties/interNodeCommunication

          properties/scaleSettings/autoScale

          properties/scaleSettings/fixedScale'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPoolsResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ListPool:
          $ref: ./examples/PoolList.json
        ListPoolWithFilter:
          $ref: ./examples/PoolListWithFilter.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Pool list by batch account
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools/{poolName}
  : get:
      operationId: Pool_Get
      tags:
      - Pool
      description: Gets information about the specified pool.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: poolName
        in: path
        description: The pool name. This must be unique within the account.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      responses:
        '200':
          description: The request has succeeded.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        GetPool:
          $ref: ./examples/PoolGet.json
        GetPool - AcceleratedNetworking:
          $ref: ./examples/PoolGet_AcceleratedNetworking.json
        GetPool - SecurityProfile:
          $ref: ./examples/PoolGet_SecurityProfile.json
        GetPool - UpgradePolicy:
          $ref: ./examples/PoolGet_UpgradePolicy.json
        GetPool - VirtualMachineConfiguration Extensions:
          $ref: ./examples/PoolGet_VirtualMachineConfiguration_Extensions.json
        GetPool - VirtualMachineConfiguration OSDisk:
          $ref: ./examples/PoolGet_VirtualMachineConfiguration_MangedOSDisk.json
        GetPool - VirtualMachineConfiguration ServiceArtifactReference:
          $ref: ./examples/PoolGet_VirtualMachineConfiguration_ServiceArtifactReference.json
      summary: Pool get
      x-summary-source: derived
    put:
      operationId: Pool_Create
      tags:
      - Pool
      description: Creates a new pool inside the specified account.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: poolName
        in: path
        description: The pool name. This must be unique within the account.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      - name: If-Match
        in: header
        description: The entity state (ETag) version of the pool to update. A value of "*" can be used to apply the operation only if the pool already exists. If omitted, this operation will always be applied.
        required: false
        schema:
          type: string
      - name: If-None-Match
        in: header
        description: Set to '*' to allow a new pool to be created, but to prevent updating an existing pool. Other values will be ignored.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        CreatePool - Custom Image:
          $ref: ./examples/PoolCreate_SharedImageGallery.json
        CreatePool - Full VirtualMachineConfiguration:
          $ref: ./examples/PoolCreate_VirtualMachineConfiguration.json
        CreatePool - Minimal VirtualMachineConfiguration:
          $ref: ./examples/PoolCreate_MinimalVirtualMachineConfiguration.json
        CreatePool - No public IP:
          $ref: ./examples/PoolCreate_NoPublicIPAddresses.json
        CreatePool - Public IPs:
          $ref: ./examples/PoolCreate_PublicIPs.json
        CreatePool - SecurityProfile:
          $ref: ./examples/PoolCreate_SecurityProfile.json
        CreatePool - Tags:
          $ref: ./examples/PoolCreate_Tags.json
        CreatePool - UpgradePolicy:
          $ref: ./examples/PoolCreate_UpgradePolicy.json
        CreatePool - UserAssignedIdentities:
          $ref: ./examples/PoolCreate_UserAssignedIdentities.json
        CreatePool - VirtualMachineConfiguration Extensions:
          $ref: ./examples/PoolCreate_VirtualMachineConfiguration_Extensions.json
        CreatePool - VirtualMachineConfiguration OSDisk:
          $ref: ./examples/PoolCreate_VirtualMachineConfiguration_ManagedOSDisk.json
        CreatePool - VirtualMachineConfiguration ServiceArtifactReference:
          $ref: ./examples/PoolCreate_VirtualMachineConfiguration_ServiceArtifactReference.json
        CreatePool - accelerated networking:
          $ref: ./examples/PoolCreate_AcceleratedNetworking.json
        CreatePool - confidential disk encryption set for user subscription accounts:
          $ref: ./examples/PoolCreate_ConfidentialDiskEncryptionSet_ForUserSubscriptionAccounts.json
        CreatePool - customer managed key for Batch managed accounts:
          $ref: ./examples/PoolCreate_CustomerManagedKey_ForBatchManagedAccounts.json
        CreatePool - disk encryption set for user subscription accounts:
          $ref: ./examples/PoolCreate_DiskEncryptionSet_ForUserSubscriptionAccounts.json
        CreatePool - dual stack networking:
          $ref: ./examples/PoolCreate_DualStackNetworking.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pool'
        description: Additional parameters for pool creation.
        required: true
      summary: Pool create
      x-summary-source: derived
    patch:
      operationId: Pool_Update
      tags:
      - Pool
      description: Updates the properties of an existing pool.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: poolName
        in: path
        description: The pool name. This must be unique within the account.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      - name: If-Match
        in: header
        description: The entity state (ETag) version of the pool to update. This value can be omitted or set to "*" to apply the operation unconditionally.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: The request has succeeded.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        UpdatePool - Enable Autoscale:
          $ref: ./examples/PoolUpdate_EnableAutoScale.json
        UpdatePool - Other Properties:
          $ref: ./examples/PoolUpdate_OtherProperties.json
        UpdatePool - Remove Start Task:
          $ref: ./examples/PoolUpdate_RemoveStartTask.json
        UpdatePool - Resize Pool:
          $ref: ./examples/PoolUpdate_ResizePool.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pool'
        description: Pool properties that should be updated. Properties that are supplied will be updated, any property not supplied will be unchanged.
        required: true
      summary: Pool update
      x-summary-source: derived
    delete:
      operationId: Pool_Delete
      tags:
      - Pool
      description: Deletes the specified pool.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: poolName
        in: path
        description: The pool name. This must be unique within the account.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      responses:
        '200':
          description: Resource deleted successfully.
        '202':
          description: Resource deletion accepted.
          headers:
            Location:
              description: The Location header contains the URL where the status of the long running operation can be checked.
              schema:
                type: string
            Retry-After:
              description: The Retry-After header can indicate how long the client should wait before polling the operation status.
              schema:
                type: integer
                format: int32
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        DeletePool:
          $ref: ./examples/PoolDelete.json
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-long-running-operation: true
      summary: Pool delete
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools/{poolName}/disableAutoScale
  : post:
      operationId: Pool_DisableAutoScale
      tags:
      - Pool
      description: Disables automatic scaling for a pool.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: poolName
        in: path
        description: The pool name. This must be unique within the account.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        Disable AutoScale:
          $ref: ./examples/PoolDisableAutoScale.json
      summary: Pool disable auto scale
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools/{poolName}/stopResize
  : post:
      operationId: Pool_StopResize
      tags:
      - Pool
      summary: Stops an ongoing resize operation on the pool
      description: 'This does not restore the pool to its previous state before the resize operation: it only stops any further changes being made, and the pool maintains its current state. After stopping, the pool stabilizes at the number of nodes it was at when the stop operation was done. During the stop operation, the pool allocation state changes first to stopping and then to steady. A resize operation need not be an explicit resize pool request; this API can also be used to halt the initial sizing of the pool when it is created.'
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: poolName
        in: path
        description: The pool name. This must be unique within the account.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        StopPoolResize:
          $ref: ./examples/PoolStopResize.json
components:
  schemas:
    UpgradePolicy:
      type: object
      description: Describes an upgrade policy - automatic, manual, or rolling.
      properties:
        mode:
          $ref: '#/components/schemas/UpgradeMode'
          title: Specifies the mode of an upgrade to virtual machines in the scale set.<br /><br /> Possible values are:<br /><br /> **Manual** - You  control the application of updates to virtual machines in the scale set. You do this by using the manualUpgrade action.<br /><br /> **Automatic** - All virtual machines in the scale set are automatically updated at the same time.<br /><br /> **Rolling** - Scale set performs updates in batches with an optional pause time in between.
          description: Specifies the mode of an upgrade to virtual machines in the scale set.<br /><br /> Possible values are:<br /><br /> **Manual** - You  control the application of updates to virtual machines in the scale set. You do this by using the manualUpgrade action.<br /><br /> **Automatic** - All virtual machines in the scale set are automatically updated at the same time.<br /><br /> **Rolling** - Scale set performs updates in batches with an optional pause time in between.
        automaticOSUpgradePolicy:
          $ref: '#/components/schemas/AutomaticOSUpgradePolicy'
          title: Configuration parameters used for performing automatic OS Upgrade.
          description: The configuration parameters used for performing automatic OS upgrade.
        rollingUpgradePolicy:
          $ref: '#/components/schemas/RollingUpgradePolicy'
          title: The configuration parameters used while performing a rolling upgrade.
          description: The configuration parameters used while performing a rolling upgrade.
      required:
      - mode
    NodePlacementPolicyType:
      type: string
      description: The default value is regional.
      enum:
      - Regional
      - Zonal
      x-ms-enum:
        name: NodePlacementPolicyType
        modelAsString: false
        values:
        - name: Regional
          value: Regional
          description: All nodes in the pool will be allocated in the same region.
        - name: Zonal
          value: Zonal
          description: Nodes in the pool will be spread across different zones with best effort balancing.
    ManagedDisk:
      type: object
      description: The managed disk parameters.
      properties:
        storageAccountType:
          $ref: '#/components/schemas/StorageAccountType'
          title: The storage account type for use in creating data disks or OS disk.
          description: The storage account type for use in creating data disks or OS disk.
        securityProfile:
          $ref: '#/components/schemas/VMDiskSecurityProfile'
          title: Specifies the security profile for the managed disk.
          description: 'Specifies the security profile settings for the managed disk. **Note**: It can only be set for Confidential VMs and is required when using Confidential VMs.'
        diskEncryptionSet:
          $ref: '#/components/schemas/DiskEncryptionSetParameters'
          description: Specifies the customer managed disk encryption set resource id for the managed disk. It can be set only in UserSubscription mode.
    HostEndpointSettings:
      type: object
      description: Specifies particular host endpoint settings.
      properties:
        mode:
          $ref: '#/components/schemas/HostEndpointSettingsModeTypes'
          description: Specifies the access control policy execution mode.
        inVMAccessControlProfileReferenceId:
          type: string
          format: arm-id
          description: Specifies the reference to the InVMAccessControlProfileVersion resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/inVMAccessControlProfiles/{profile}/versions/{version}.
    UserIdentity:
      type: object
      title: The definition of the user identity under which the task is run.
      description: Specify either the userName or autoUser property, but not both.
      properties:
        userName:
          type: string
          title: The name of the user identity under which the task is run.
          description: The userName and autoUser properties are mutually exclusive; you must specify one but not both.
        autoUser:
          $ref: '#/components/schemas/AutoUserSpecification'
          title: The auto user under which the task is run.
          description: The userName and autoUser properties are mutually exclusive; you must specify one but not both.
    WindowsUserConfiguration:
      type: object
      title: Properties used to create a user account on a Windows node.
      description: Properties used to create a user account on a Windows node.
      properties:
        loginMode:
          $ref: '#/components/schemas/LoginMode'
          title: Login mode for user
          description: Specifies login mode for the user. The default value is Interactive.
    AutoUserScope:
      type: string
      description: The default value is Pool. If the pool is running Windows a value of Task should be specified if stricter isolation between tasks is required. For example, if the task mutates the registry in a way which could impact other tasks.
      enum:
      - Task
      - Pool
      x-ms-enum:
        name: AutoUserScope
        modelAsString: false
        values:
        - name: Task
          value: Task
          description: Specifies that the service should create a new user for the task.
        - name: Pool
          value: Pool
          description: Specifies that the task runs as the common auto user account which is created on every node in a pool.
    TaskSchedulingPolicy:
      type: object
      title: Specifies how tasks should be distributed across compute nodes.
      description: Specifies how tasks should be distributed across compute nodes.
      properties:
        jobDefaultOrder:
          $ref: '#/components/schemas/JobDefaultOrder'
          title: If not specified, the default is none.
          description: The order for scheduling tasks from different jobs with the same priority.
        nodeFillType:
          type: string
          title: How tasks should be distributed across compute nodes.
          description: How tasks should be distributed across compute nodes.
          default: Spread
          enum:
          - Spread
          - Pack
          x-ms-enum:
            name: ComputeNodeFillType
            modelAsString: false
            values:
            - name: Spread
              value: Spread
              description: Tasks should be assigned evenly across all nodes in the pool.
            - name: Pack
              value: Pack
              description: As many tasks as possible (taskSlotsPerNode) should be assigned to each node in the pool before any tasks are assigned to the next node in the pool.
      required:
      - nodeFillType
    PoolIdentityType:
      type: string
      description: The type of identity used for the Batch Pool.
      enum:
      - UserAssigned
      - None
      x-ms-enum:
        name: PoolIdentityType
        modelAsString: false
        values:
        - name: UserAssigned
          value: UserAssigned
          description: Batch pool has user assigned identities with it.
        - name: None
          value: None
          description: Batch pool has no identity associated with it. Setting `None` in update pool will remove existing identities.
    ProxyAgentSettings:
      type: object
      description: Specifies ProxyAgent settings while creating the virtual machine.
      properties:
        enabled:
          type: boolean
          description: Specifies whether Metadata Security Protocol feature should be enabled on the virtual machine or virtual machine scale set. Default is False.
        imds:
          $ref: '#/components/schemas/HostEndpointSettings'
          description: Settings for the IMDS endpoint.
        wireServer:
          $ref: '#/components/schemas/HostEndpointSettings'
          description: Settings for the WireServer endpoint.
    DeploymentConfiguration:
      type: object
      title: Deployment configuration properties.
      description: Deployment configuration properties.
      properties:
        virtualMachineConfiguration:
          $ref: '#/components/schemas/VirtualMachineConfiguration'
          title: The virtual machine configuration for the pool.
          description: The configuration for compute nodes in a pool based on the Azure Virtual Machines infrastructure.
    DiffDiskSettings:
      type: object
      title: Specifies the ephemeral Disk Settings for the operating system disk used by the virtual machine.
      description: Specifies the ephemeral Disk Settings for the operating system disk used by the virtual machine.
      properties:
        placement:
          $ref: '#/components/schemas/DiffDiskPlacement'
          title: Specifies the ephemeral disk placement for operating system disk for all VMs in the pool.
          description: This property can be used by user in the request to choose which location the operating system should be in. e.g., cache disk space for Ephemeral OS disk provisioning. For more information on Ephemeral OS disk size requirements, please refer to Ephemeral OS disk size requirements for Windows VMs at https://learn.microsoft.com/azure/virtual-machines/windows/ephemeral-os-disks#size-requirements and Linux VMs at https://learn.microsoft.com/azure/virtual-machines/linux/ephemeral-os-disks#size-requirements.
    NetworkSecurityGroupRule:
      type: object
      title: A network security group rule to apply to an inbound endpoint.
      description: A network security group rule to apply to an inbound endpoint.
      properties:
        priority:
          type: integer
          format: int32
          title: The priority for this rule.
          description: Priorities within a pool must be unique and are evaluated in order of priority. The lower the number the higher the priority. For example, rules could be specified with order numbers of 150, 250, and 350. The rule with the order number of 150 takes precedence over the rule that has an order of 250. Allowed priorities are 150 to 4096. If any reserved or duplicate values are provided the request fails with HTTP status code 400.
        access:
          $ref: '#/components/schemas/NetworkSecurityGroupRuleAccess'
          title: The action that should be taken for a specified IP address, subnet range or tag.
          description: The action that should be taken for a specified IP address, subnet range or tag.
        sourceAddressPrefix:
          type: string
          title: The source address prefix or tag to match for the rule.
          description: Valid values are a single IP address (i.e. 10.10.10.10), IP subnet (i.e. 192.168.1.0/24), default tag, or * (for all addresses).  If any other values are provided the request fails with HTTP status code 400.
        sourcePortRanges:
          type: array
          title: The source port ranges to match for the rule.
          description: Valid values are '*' (for all ports 0 - 65535) or arrays of ports or port ranges (i.e. 100-200). The ports should in the range of 0 to 65535 and the port ranges or ports can't overlap. If any other values are provided the request fails with HTTP status code 400. Default value will be *.
          items:
            type: string
      required:
      - priority
      - access
      - sourceAddressPrefix
    DiskEncryptionSetParameters:
      type: object
      description: The ARM resource id of the disk encryption set.
      properties:
        id:
          type: string
          format: arm-id
          title: The resource id of the disk encryption set.
          description: The ARM resource id of the disk encryption set. The resource should be in the same subscription as the Batch account.
      required:
      - id
    ComputeNodeIdentityReference:
      type: object
      description: The reference to a user assigned identity associated with the Batch pool which a compute node will use.
      properties:
        resourceId:
          type: string
          description: The ARM resource id of the user assigned identity.
    PoolEndpointConfiguration:
      type: object
      title: The endpoint configuration for a pool.
      description: The endpoint configuration for a pool.
      properties:
        inboundNatPools:
          type: array
          title: A list of inbound NAT pools that can be used to address specific ports on an individual compute node externally.
          description: The maximum number of inbound NAT pools per Batch pool is 5. If the maximum number of inbound NAT pools is exceeded the request fails with HTTP status code 400. This cannot be specified if the IPAddressProvisioningType is NoPublicIPAddresses.
          items:
            $ref: '#/components/schemas/InboundNatPool'
          x-ms-identifiers:
          - name
      required:
      - inboundNatPools
    DiskCustomerManagedKey:
      type: object
      description: The Customer Managed Key reference to encrypt the Disk.
      properties:
        keyUrl:
          type: string
          format: uri
          description: Fully versioned Key Url pointing to a key in KeyVault. Version segment of the Url is required regardless of rotationToLatestKeyVersionEnabled value.
        rotationToLatestKeyVersionEnabled:
          type: boolean
          description: Set this flag to true to enable auto-updating of the Disk Encryption to the latest key version. Default is false.
        identityReference:
          $ref: '#/components/schemas/ComputeNodeIdentityReference'
          description: The reference of one of the pool identities to encrypt Disk. This identity will be used to access the KeyVault.
    AutoScaleSettings:
      type: object
      title: AutoScale settings for the pool.
      description: AutoScale settings for the pool.
      properties:
        formula:
          type: string
          title: A formula for the desired number of compute nodes in the pool.
          description: A formula for the desired number of compute nodes in the pool.
          externalDocs:
            description: Create an automatic scaling formula for scaling compute nodes in a Batch pool
            url: https://learn.microsoft.com/azure/batch/batch-automatic-scaling
        evaluationInterval:
          type: string
          format: duration
          title: The time interval at which to automatically adjust the pool size according to the autoscale formula.
          description: If omitted, the default value is 15 minutes (PT15M).
      required:
      - formula
    AzureFileShareConfiguration:
      type: object
      title: Information used to connect to an Azure Fileshare.
      description: Information used to connect to an Azure Fileshare.
      properties:
        accountName:
          type: string
          title: The Azure Storage account name.
          description: The Azure Storage account name.
        azureFileUrl:
          type: string
          title: The Azure Files URL.
          description: This is of the form 'https://{account}.file.core.windows.net/'.
        accountKey:
          type: string
          format: password
          title: The Azure Storage account key.
          description: The Azure Storage account key.
          x-ms-secret: true
        relativeMountPath:
          type: string
          title: The relative path on the compute node where the file system will be mounted
          description: All file systems are mounted relative to the Batch mounts directory, accessible via the AZ_BATCH_NODE_MOUNTS_DIR environment variable.
        mountOptions:
          type: string
          title: Additional command line options to pass to the mount command.
          description: These are 'net use' options in Windows and 'mount' options in Linux.
      required:
      - accountName
      - azureFileUrl
      - accountKey
      - relativeMountPath
    InterNodeCommunicationState:
      type: string
      description: This imposes restrictions on which nodes can be assigned to the pool. Enabling this value can reduce the chance of the requested number of nodes to be allocated in the pool. If not specified, this value defaults to 'Disabled'.
      enum:
      - Enabled
      - Disabled
      x-ms-enum:
        name: InterNodeCommunicationState
        modelAsString: false
        values:
        - name: Enabled
          value: Enabled
          description: Enable network communication between virtual machines.
        - name: Disabled
          value: Disabled
          description: Disable network communication between virtual machines.
    SecurityProfile:
      type: object
      description: Specifies the security profile settings for the virtual machine or virtual machine scale set.
      properties:
        securityType:
          $ref: '#/components/schemas/SecurityTypes'
          title: Specifies the SecurityType of the virtual machine. It has to be set to any specified value to enable UefiSettings.
          description: Specifies the SecurityType of the virtual machine. It has to be set to any specified value to enable UefiSettings.
        encryptionAtHost:
          type: boolean
          description: This property can be used by user in the request to enable or disable the Host Encryption for the virtual machine or virtual machine scale set. This will enable the encryption for all the disks including Resource/Temp disk at host itself.
        uefiSettings:
          $ref: '#/components/schemas/UefiSettings'
          title: Specifies the security settings like secure boot and vTPM used while creating the virtual machine.
          description: Specifies the security settings like secure boot and vTPM used while creating the virtual machine.
        proxyAgentSettings:
          $ref: '#/components/schemas/ProxyAgentSettings'
          description: Specifies ProxyAgent settings while creating the virtual machine.
    HostEndpointSettingsModeTypes:
      type: string
      description: Specifies the access control policy execution mode.
      enum:
      - Audit
      - Enforce
      x-ms-enum:
        name: HostEndpointSettingsModeTypes
        modelAsString: true
        values:
        - name: Audit
          value: Audit
          description: In Audit mode, the system acts as if it is enforcing the access control policy, including emitting access denial entries in the logs but it does not actually deny any requests to host endpoints.
        - name: Enforce
          value: Enforce
          description: Enforce mode is the recommended mode of operation and system will enforce the access control policy. This property cannot be used together with 'inVMAccessControlProfileReferenceId'.
    ContainerHostDataPath:
      type: string
      description: The paths which will be mounted to container task's container.
      enum:
      - Shared
      - Startup
      - VfsMounts
      - Task
      - JobPrep
      - Applications
      x-ms-enum:
        name: ContainerHostDataPath
        modelAsString: true
        values:
        - name: Shared
          value: Shared
          description: The path for multi-instances task to shared their files.
        - name: Startup
          value: Startup
          description: The path for start task.
        - name: VfsMounts
          value: VfsMounts
          description: The path contains all virtual file systems are mounted on this node.
        - name: Task
          value: Task
          description: The task path.
        - name: JobPrep
          value: JobPrep
          description: The job-prep task path.
        - name: Applications
          value: Applications
          description: The applications path.
    AutoScaleRunError:
      type: object
      title: An error that occurred when autoscaling a pool.
      description: An error that occurred when autoscaling a pool.
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        details:
          type: array
          title: Additional details about the error.
          description: Additional details about the error.
          items:
            $ref: '#/components/schemas/AutoScaleRunError'
          x-ms-identifiers:
          - code
      required:
      - code
      - message
    SecurityEncryptionTypes:
      type: string
      description: 'Specifies the EncryptionType of the managed disk. It is set to DiskWithVMGuestState for encryption of the managed disk along with VMGuestState blob, VMGuestStateOnly for encryption of just the VMGuestState blob, and NonPersistedTPM for not persisting firmware state in the VMGuestState blob. **Note**: It can be set for only Confidential VMs and required when using Confidential VMs.'
      enum:
      - NonPersistedTPM
      - VMGuestStateOnly
      - DiskWithVMGuestState
      x-ms-enum:
        name: SecurityEncryptionTypes
        modelAsString: true
        values:
        - name: NonPersistedTPM
          value: NonPersistedTPM
          description: EncryptionType of the managed disk is set to NonPersistedTPM for not persisting firmware state in the VMGuestState blob.
        - name: VMGuestStateOnly
          value: VMGuestStateOnly
          description: EncryptionType of the managed disk is set to VMGuestStateOnly for encryption of just the VMGuestState blob.
        - name: DiskWithVMGuestState
          value: DiskWithVMGuestState
          description: EncryptionType of the managed disk is set to DiskWithVMGuestState for encryption of the managed disk along with VMGuestState blob. It is not supported in data disks.
    RollingUpgradePolicy:
      type: object
      description: The configuration parameters used while performing a rolling upgrade.
      properties:
        enableCrossZoneUpgrade:
          type: boolean
          description: Allow VMSS to ignore AZ boundaries when constructing upgrade batches. Take into consideration the Update Domain and maxBatchInstancePercent to determine the batch size. If this field is not set, Azure Azure Batch will not set its default value. The value of enableCrossZoneUpgrade on the created VirtualMachineScaleSet will be decided by the default configurations on VirtualMachineScaleSet. This field is able to be set to true or false only when using NodePlacementConfiguration as Zonal.
        maxBatchInstancePercent:
          type: integer
          format: int32
          description: The maximum percent of total virtual machine instances that will be upgraded simultaneously by the rolling upgrade in one batch. As this is a maximum, unhealthy instances in previous or future batches can cause the percentage of instances in a batch to decrease to ensure higher reliability. The value of this field should be between 5 and 100, inclusive. If both maxBatchInstancePercent and maxUnhealthyInstancePercent are assigned with value, the value of maxBatchInstancePercent should not be more than maxUnhealthyInstancePercent.
          minimum: 5
          maximum: 100
        maxUnhealthyInstancePercent:
          type: integer
          format: int32
          description: The maximum percentage of the total virtual machine instances in the scale set that can be simultaneously unhealthy, either as a result of being upgraded, or by being found in an unhealthy state by the virtual machine health checks before the rolling upgrade aborts. This constraint will be checked prior to starting any batch. The value of this field should be between 5 and 100, inclusive. If both maxBatchInstancePercent and maxUnhealthyInstancePercent are assigned with value, the value of maxBatchInstancePercent should not be more than maxUnhealthyInstancePercent.
          minimum: 5
          maximum: 100
        maxUnhealthyUpgradedInstancePercent:
          type: integer
          format: int32
          description: The maximum percentage of upgraded virtual machine instances that can be found to be in an unhealthy state. This check will happen after each batch is upgraded. If this percentage is ever exceeded, the rolling update aborts. The value of this field should be between 0 and 100, inclusive.
          minimum: 0
          maximum: 100
        pauseTimeBetweenBatches:
          type: string
          description: The wait time between completing the update for all virtual machines in one batch and starting the next batch. The time duration should be specified in ISO 8601 format.
        prioritizeUnhealthyInstances:
          type: boolean
          description: Upgrade all unhealthy instances in a scale set before any healthy instances.
        rollbackFailedInstancesOnPolicyBreach:
          type: boolean
          description: Rollback failed instances to previous model if the Rolling Upgrade policy is violated.
    ContainerType:
      type: string
      description: The container technology to be used.
      enum:
      - DockerCompatible
      - CriCompatible
      x-ms-enum:
        name: ContainerType
        modelAsString: true
        values:
        - name: DockerCompatible
          value: DockerCompatible
          description: A Docker compatible container technology will be used to launch the containers.
        - name: CriCompatible
          value: CriCompatible
          description: A CRI based technology will be used to launch the containers.
    DiskEncryptionTarget:
      type: string
      description: If omitted, no disks on the compute nodes in the pool will be encrypted.
      enum:
      - OsDisk
      - TemporaryDisk
      x-ms-enum:
        name: DiskEncryptionTarget
        modelAsString: false
        values:
        - name: OsDisk
          value: OsDisk
          description: The OS Disk on the compute node is encrypted.
        - name: TemporaryDisk
          value: TemporaryDisk
          description: The temporary disk on the compute node is encrypted. On Linux this encryption applies to other partitions (such as those on mounted data disks) when encryption occurs at boot time.
    VMDiskSecurityProfile:
      type: object
      description: 'Specifies the security profile settings for the managed disk. **Note**: It can only be set for Confidential VMs and is required when using Confidential VMs.'
      properties:
        securityEncryptionType:
          $ref: '#/components/schemas/SecurityEncryptionTypes'
          title: 'Specifies the EncryptionType of the managed disk. It is set to VMGuestStateOnly for encryption of just the VMGuestState blob, and NonPersistedTPM for not persisting firmware state in the VMGuestState blob. **Note**: It can be set for only Confidential VMs and required when using Confidential VMs.'
          description: 'Specifies the EncryptionType of the managed disk. It is set to VMGuestStateOnly for encryption of just the VMGuestState blob, and NonPersistedTPM for not persisting firmware state in the VMGuestState blob. **Note**: It can be set for only Confidential VMs and required when using Confidential VMs.'
        diskEncryptionSet:
          $ref: '#/components/schemas/DiskEncryptionSetParameters'
          description: Specifies the customer managed disk encryption set resource id for the managed disk that is used for Customer Managed Key encrypted ConfidentialVM OS Disk and VMGuest blob. It can be set only in UserSubscription mode.
    UserAssignedIdentities:
      type: object
      description: The list of associated user identities.
      properties:
        principalId:
          type: string
          description: The principal id of user assigned identity.
          readOnly: true
        clientId:
          type: string
          description: The client id of user assigned identity.
          readOnly: true
    PoolProvisioningState:
      type: string
      description: The current state of the pool.
      enum:
      - Succeeded
      - Deleting
      x-ms-enum:
        name: PoolProvisioningState
        modelAsString: false
        values:
        - name: Succeeded
          value: Succeeded
          description: The pool is available to run tasks subject to the availability of compute nodes.
        - name: Deleting
          value: Deleting
          description: The user has requested that the pool be deleted, but the delete operation has not yet completed.
    ElevationLevel:
      type: string
      description: The elevation level of the user.
      enum:
      - NonAdmin
      - Admin
      x-ms-enum:
        name: ElevationLevel
        modelAsString: false
        values:
        - name: NonAdmin
          value: NonAdmin
          description: The user is a standard user without elevated access.
        - name: Admin
          value: Admin
          description: The user is a user with elevated access and operates with full Administrator permissions.
    CloudErrorBody:
      type: object
      description: An error response from the Batch service.
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - message
          - target
      x-ms-external: true
    ContainerConfiguration:
      type: object
      title: The configuration for container-enabled pools.
      description: The configuration for container-enabled pools.
      properties:
        type:
          $ref: '#/components/schemas/ContainerType'
          title: The container technology to be used.
          description: The container technology to be used.
        containerImageNames:
          type: array
          title: The collection of container image names.
          description: This is the full image reference, as would be specified to "docker pull". An image will be sourced from the default Docker registry unless the image is fully qualified with an alternative registry.
          items:
            type: string
        containerRegistries:
          type: array
          title: Additional private registries from which containers can be pulled.
          description: If any images must be downloaded from a private registry which requires credentials, then those credentials must be provided here.
          items:
            $ref: '#/components/schemas/ContainerRegistry'
          x-ms-identifiers:
          - registryServer
      required:
      - type
    TaskContainerSettings:
      type: object
      title: The container settings for a task.
      description: The container settings for a task.
      properties:
        containerRunOptions:
          type: string
          title: Additional options to the container create command.
          description: These additional options are supplied as arguments to the "docker create" command, in addition to those controlled by the Batch Service.
        imageName:
          type: string
          title: The image to use to create the container in which the task will run.
          description: This is the full image reference, as would be specified to "docker pull". If no tag is provided as part of the image name, the tag ":latest" is used as a default.
        registry:
          $ref: '#/components/schemas/ContainerRegistry'
          title: The private registry which contains the container image.
          description: This setting can be omitted if was already provided at pool creation.
        workingDirectory:
          $ref: '#/components/schemas/ContainerWorkingDirectory'
          title: A flag to indicate where the container task working directory is. The default is 'taskWorkingDirectory'.
          description: A flag to indicate where the container task working directory is. The default is 'taskWorkingDirectory'.
        containerHostBatchBindMounts:
          type: array
          title: The paths you want to mounted to container task.
          description: If this array is null or be not present, container task will mount entire temporary disk drive in windows (or AZ_BATCH_NODE_ROOT_DIR in Linux). It won't' mount any data paths into container if this array is set as empty.
          items:
            $ref: '#/components/schemas/ContainerHostBatchBindMountEntry'
          x-ms-identifiers: []
      required:
      - imageName
    AzureBlobFileSystemConfiguration:
      type: object
      title: Information used to connect to an Azure Storage Container using Blobfuse.
      description: Information used to connect to an Azure Storage Container using Blobfuse.
      properties:
        accountName:
          type: string
          title: The Azure Storage Account name.
          description: The Azure Storage Account name.
        containerName:
          type: string
          title: The Azure Blob Storage Container name.
          description: The Azure Blob Storage Container name.
        accountKey:
          type: string
          format: password
          title: The Azure Storage Account key.
          description: This property is mutually exclusive with both sasKey and identity; exactly one must be specified.
          x-ms-secret: true
        sasKey:
          type: string
          format: password
          title: The Azure Storage SAS token.
          description: This property is mutually exclusive with both accountKey and identity; exactly one must be specified.
          x-ms-secret: true
        blobfuseOptions:
          type: string
          title: Additional command line options to pass to the mount command.
          description: These are 'net use' options in Windows and 'mount' options in Linux.
        relativeMountPath:
          type: string
          title: The relative path on the compute node where the file system will be mounted
          description: All file systems are mounted relative to the Batch mounts directory, accessible via the AZ_BATCH_NODE_MOUNTS_DIR environment variable.
        identityReference:
          $ref: '#/components/schemas/ComputeNodeIdentityReference'
          title: The reference to the user assigned identity to use to access containerName
          description: This property is mutually exclusive with both accountKey and sasKey; exactly one must be specified.
      required:
      - accountName
      - containerName
      - relativeMountPath
    NFSMountConfiguration:
      type: object
      title: Information used to connect to an NFS file system.
      description: Information used to connect to an NFS file system.
      properties:
        source:
          type: string
          title: The URI of the file system to mount.
          description: The URI of the file system to mount.
        relativeMountPath:
          type: string
          title: The relative path on the compute node where the file system will be mounted
          description: All file systems are mounted relative to the Batch mounts directory, accessible via the AZ_BATCH_NODE_MOUNTS_DIR environment variable.
        mountOptions:
          type: string
          title: Additional command line options to pass to the mount command.
          description: These are 'net use' options in Windows and 'mount' options in Linux.
      required:
      - source
      - relativeMountPath
    IPFamily:
      type: string
      description: The IP families used to specify IP versions available to the pool.
      enum:
      - IPv4
      - IPv6
      x-ms-enum:
        name: IPFamily
        modelAsString: true
        values:
        - name: IPv4
          value: IPv4
          description: IPv4 is available to the pool.
        - name: IPv6
          value: IPv6
          description: IPv6 is available to the pool.
    DataDisk:
      type: object
      description: Settings which will be used by the data disks associated to Compute Nodes in the Pool. When using attached data disks, you need to mount and format the disks from within a VM to use them.
      properties:
        lun:
          type: integer
          format: int32
          title: The logical unit number.
          description: The lun is used to uniquely identify each data disk. If attaching multiple disks, each should have a distinct lun. The value must be between 0 and 63, inclusive.
        caching:
          $ref: '#/components/schemas/CachingType'
          title: The type of caching to enable for the disk.
          description: 'Values are:


            none - The caching mode for the disk is not enabled.

            readOnly - The caching mode for the disk is read only.

            readWrite - The caching mode for the disk is read and write.


            The default value for caching is none. For information about the caching options see: https://blogs.msdn.microsoft.com/windowsazurestorage/2012/06/27/exploring-windows-azure-drives-disks-and-images/.'
        diskSizeGB:
          type: integer
          format: int32
          title: The initial disk size in GB when creating new data disk.
          description: The initial disk size in GB when creating new data disk.
        managedDisk:
          $ref: '#/components/schemas/ManagedDisk'
          title: The managed disk parameters.
          description: The managed disk parameters.
      required:
      - lun
      - diskSizeGB
    ListPoolsResult:
      type: object
      description: Values returned by the List operation.
      properties:
        value:
          type: array
          description: The Pool items on this page
          items:
            $ref: '#/components/schemas/Pool'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    LoginMode:
      type: string
      description: Specifies login mode for the user. The default value is Interactive.
      enum:
      - Batch
      - Interactive
      x-ms-enum:
        name: LoginMode
        modelAsString: false
        values:
        - name: Batch
          value: Batch
          description: The LOGON32_LOGON_BATCH Win32 login mode. The batch login mode is recommended for long running parallel processes.
        - name: Interactive
          value: Interactive
          description: The LOGON32_LOGON_INTERACTIVE Win32 login mode. Some applications require having permissions associated with the interactive login mode. If this is the case for an application used in your task, then this option is recommended.
    VMExtension:
      type: object
      title: The configuration for virtual machine extensions.
      description: The configuration for virtual machine extensions.
      properties:
        name:
          type: string
          title: The name of the virtual machine extension.
          description: The name of the virtual machine extension.
        publisher:
          type: string
          title: The name of the extension handler publisher.
          description: The name of the extension handler publisher.
        type:
          type: string
          title: The type of the extensions.
          description: The type of the extensions.
        typeHandlerVersion:
          type: string
          title: The version of script handler.
          description: The version of script handler.
        autoUpgradeMinorVersion:
          type: boolean
          description: Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true.
        enableAutomaticUpgrade:
          type: boolean
          description: Indicates whether the extension should be automatically upgraded by the platform if there is a newer version of the extension available.
        settings:
          title: JSON formatted public settings for the extension.
          description: JSON formatted public settings for the extension.
        protectedSettings:
          format: password
          description: The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all.
          x-ms-secret: true
        provisionAfterExtensions:
          type: array
          title: The collection of extension names.
          description: Collection of extension names after which this extension needs to be provisioned.
          items:
            type: string
      required:
      - name
      - publisher
      - type
    DiffDiskPlacement:
      type: string
      description: The location where the OS disk should be placed.
      enum:
      - CacheDisk
      x-ms-enum:
        name: DiffDiskPlacement
        modelAsString: false
        values:
        - name: CacheDisk
          value: CacheDisk
          description: The OS disk will be placed on the cache disk of the VM.
    EnvironmentSetting:
      type: object
      title: An environment variable to be set on a task process.
      description: An environment variable to be set on a task process.
      properties:
        name:
          type: string
          title: The name of the environment variable.
          description: The name of the environment variable.
        value:
          type: string
          title: The value of the environment variable.
          description: The value of the environment variable.
      required:
      - name
    WindowsConfiguration:
      type: object
      title: Windows operating system settings to apply to the virtual machine.
      description: Windows operating system settings to apply to the virtual machine.
      properties:
        enableAutomaticUpdates:
          type: boolean
          title: Whether automatic updates are enabled on the virtual machine.
          description: If omitted, the default value is true.
    ResizeOperationStatus:
      type: object
      title: Details about the current or last completed resize operation.
      description: Describes either the current operation (if the pool AllocationState is Resizing) or the previously completed operation (if the AllocationState is Steady).
      properties:
        targetDedicatedNodes:
          type: integer
          format: int32
          title: The desired number of dedicated compute nodes in the pool.
          description: The desired number of dedicated compute nodes in the pool.
        targetLowPriorityNodes:
          type: integer
          format: int32
          title: The desired number of Spot/low-priority compute nodes in the pool.
          description: The desired number of Spot/low-priority compute nodes in the pool.
        resizeTimeout:
          type: string
          format: duration
          title: The timeout for allocation of compute nodes to the pool or removal of compute nodes from the pool.
          description: The default value is 15 minutes. The minimum value is 5 minutes. If you specify a value less than 5 minutes, the Batch service returns an error; if you are calling the REST API directly, the HTTP status code is 400 (Bad Request).
        nodeDeallocationOption:
          $ref: '#/components/schemas/ComputeNodeDeallocationOption'
          title: Determines what to do with a node and its running task(s) after it has been selected for deallocation.
          description: The default value is requeue.
        startTime:
          type: string
          format: date-time
          title: The time when this resize operation was started.
          description: The time when this resize operation was started.
        errors:
          type: array
          title: Details of any errors encountered while performing the last resize on the pool.
          description: This property is set only if an error occurred during the last pool resize, and only when the pool allocationState is Steady.
          items:
            $ref: '#/components/schemas/ResizeError'
          x-ms-identifiers:
          - code
    NodePlacementConfiguration:
      type: object
      title: Node placement configuration for Batch pools.
      description: Allocation configuration used by Batch Service to provision the nodes.
      properties:
        policy:
          $ref: '#/components/schemas/NodePlacementPolicyType'
          title: Node placement Policy type on Batch pools.
          description: Allocation policy used by Batch Service to provision the nodes. If not specified, Batch will use the regional policy.
    ResizeError:
      type: object
      title: An error that occurred when resizing a pool.
      description: An error that occurred when resizing a pool.
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        details:
          type: array
          title: Additional details about the error.
          description: Additional details about the error.
          items:
            $ref: '#/components/schemas/ResizeError'
          x-ms-identifiers:
          - code
      required:
      - code
      - message
    Pool:
      type: object
      description: Contains information about a pool.
      properties:
        properties:
          $ref: '#/components/schemas/PoolProperties'
          description: The properties associated with the pool.
          x-ms-client-flatten: true
        identity:
          $ref: '#/components/schemas/BatchPoolIdentity'
          description: The type of identity used for the Batch Pool.
        etag:
          type: string
          description: The ETag of the resource, used for concurrency statements.
          readOnly: true
        tags:
          type: object
          description: The tags of the resource.
          additionalProperties:
            type: string
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
    LinuxUserConfiguration:
      type: object
      title: Properties used to create a user account on a Linux node.
      description: Properties used to create a user account on a Linux node.
      properties:
        uid:
          type: integer
          format: int32
          title: The user ID of the user account.
          description: The uid and gid properties must be specified together or not at all. If not specified the underlying operating system picks the uid.
        gid:
          type: integer
          format: int32
          title: The group ID for the user account.
          description: The uid and gid properties must be specified together or not at all. If not specified the underlying operating system picks the gid.
        sshPrivateKey:
          type: string
          format: password
          title: The SSH private key for the user account.
          description: The private key must not be password protected. The private key is used to automatically configure asymmetric-key based authentication for SSH between nodes in a Linux pool when the pool's enableInterNodeCommunication property is true (it is ignored if enableInterNodeCommunication is false). It does this by placing the key pair into the user's .ssh directory. If not specified, password-less SSH is not configured between nodes (no modification of the user's .ssh directory is done).
          x-ms-secret: true
    VirtualMachineConfiguration:
      type: object
      title: The configuration for compute nodes in a pool based on the Azure Virtual Machines infrastructure.
      description: The configuration for compute nodes in a pool based on the Azure Virtual Machines infrastructure.
      properties:
        imageReference:
          $ref: '#/components/schemas/ImageReference'
          title: A reference to the Azure Virtual Machines Marketplace Image or the custom Virtual Machine Image to use.
          description: A reference to an Azure Virtual Machines Marketplace image or the Azure Image resource of a custom Virtual Machine. To get the list of all imageReferences verified by Azure Batch, see the 'List supported node agent SKUs' operation.
        nodeAgentSkuId:
          type: string
          title: The SKU of the Batch node agent to be provisioned on compute nodes in the pool.
          description: The Batch node agent is a program that runs on each node in the pool, and provides the command-and-control interface between the node and the Batch service. There are different implementations of the node agent, known as SKUs, for different operating systems. You must specify a node agent SKU which matches the selected image reference. To get the list of supported node agent SKUs along with their list of verified image references, see the 'List supported node agent SKUs' operation.
        windowsConfiguration:
          $ref: '#/components/schemas/WindowsConfiguration'
          title: Windows operating system settings on the virtual machine.
          description: This property must not be specified if the imageReference specifies a Linux OS image.
        dataDisks:
          type: array
          title: The configuration for data disks attached to the compute nodes in the pool.
          description: This property must be specified if the compute nodes in the pool need to have empty data disks attached to them.
          items:
            $ref: '#/components/schemas/DataDisk'
          x-ms-identifiers:
          - lun
        licenseType:
          type: string
          title: The type of on-premises license to be used when deploying the operating system.
          description: 'This only applies to images that contain the Windows operating system, and should only be used when you hold valid on-premises licenses for the nodes which will be deployed. If omitted, no on-premises licensing discount is applied. Values are:


            Windows_Server - The on-premises license is for Windows Server.

            Windows_Client - The on-premises license is for Windows Client.'
        containerConfiguration:
          $ref: '#/components/schemas/ContainerConfiguration'
          title: The container configuration for the pool.
          description: If specified, setup is performed on each node in the pool to allow tasks to run in containers. All regular tasks and job manager tasks run on this pool must specify the containerSettings property, and all other tasks may specify it.
        diskEncryptionConfiguration:
          $ref: '#/components/schemas/DiskEncryptionConfiguration'
          title: The disk encryption configuration for the pool.
          description: If specified, encryption is performed on each node in the pool during node provisioning.
        nodePlacementConfiguration:
          $ref: '#/components/schemas/NodePlacementConfiguration'
          title: The node placement configuration for the pool.
          description: This configuration will specify rules on how nodes in the pool will be physically allocated.
        extensions:
          type: array
          title: The virtual machine extension for the pool.
          description: If specified, the extensions mentioned in this configuration will be installed on each node.
          items:
            $ref: '#/components/schemas/VMExtension'
          x-ms-identifiers:
          - name
          - type
        osDisk:
          $ref: '#/components/schemas/OSDisk'
          title: Settings for the operating system disk of the Virtual Machine.
          description: Contains configuration for ephemeral OSDisk settings.
        securityProfile:
          $ref: '#/components/schemas/SecurityProfile'
          title: Specifies the security profile settings for the virtual machine or virtual machine scale set.
          description: Specifies the security profile settings for the virtual machine or virtual machine scale set.
        serviceArtifactReference:
          $ref: '#/components/schemas/ServiceArtifactReference'
          title: Specifies the service artifact reference id used to set same image version for all virtual machines in the scale set when using 'latest' image version.
          description: The service artifact reference id in the form of /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/galleries/{galleryName}/serviceArtifacts/{serviceArtifactName}/vmArtifactsProfiles/{vmArtifactsProfilesName}
      required:
      - imageReference
      - nodeAgentSkuId
    SecurityTypes:
      type: string
      description: Specifies the SecurityType of the virtual machine. It has to be set to any specified value to enable UefiSettings.
      enum:
      - trustedLaunch
      - confidentialVM
      x-ms-enum:
        name: SecurityTypes
        modelAsString: false
        values:
        - name: trustedLaunch
          value: trustedLaunch
          description: Trusted launch protects against advanced and persistent attack techniques.
        - name: confidentialVM
          value: confidentialVM
          description: Azure confidential computing offers confidential VMs are for tenants with high security and confidentiality requirements. These VMs provide a strong, hardware-enforced boundary to help meet your security needs. You can use confidential VMs for migrations without making changes to your code, with the platform protecting your VM's state from being read or modified.
    ServiceArtifactReference:
      type: object
      description: Specifies the service artifact reference id used to set same image version for all virtual machines in the scale set when using 'latest' image version.
      properties:
        id:
          type: string
          title: The service artifact reference id of ServiceArtifactReference
          description: The service artifact reference id in the form of /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/galleries/{galleryName}/serviceArtifacts/{serviceArtifactName}/vmArtifactsProfiles/{vmArtifactsProfilesName}
      required:
      - id
    ImageReference:
      type: object
      title: A reference to an Azure Virtual Machines Marketplace image or the Azure Image resource of a custom Virtual Machine. To get the list of all imageReferences verified by Azure Batch, see the 'List supported node agent SKUs' operation.
      description: A reference to an Azure Virtual Machines Marketplace image or the Azure Image resource of a custom Virtual Machine. To get the list of all imageReferences verified by Azure Batch, see the 'List supported node agent SKUs' operation.
      properties:
        publisher:
          type: string
          title: The publisher of the Azure Virtual Machines Marketplace image.
          description: For example, Canonical or MicrosoftWindowsServer.
        offer:
          type: string
          title: The offer type of the Azure Virtual Machines Marketplace image.
          description: For example, UbuntuServer or WindowsServer.
        sku:
          type: string
          title: The SKU of the Azure Virtual Machines Marketplace image.
          description: For example, 18.04-LTS or 2022-datacenter.
        version:
          type: string
          title: The version of the Azure Virtual Machines Marketplace image.
          description: A value of 'latest' can be specified to select the latest version of an image. If omitted, the default is 'latest'.
        id:
          type: string
          title: The ARM resource identifier of the Azure Compute Gallery Image. Compute Nodes in the Pool will be created using this Image Id. This is of the form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/galleries/{galleryName}/images/{imageDefinitionName}/versions/{versionId}.
          description: This property is mutually exclusive with other properties. The Azure Compute Gallery Image must have replicas in the same region as the Azure Batch account. For information about the firewall settings for the Batch node agent to communicate with the Batch service see https://learn.microsoft.com/azure/batch/batch-api-basics#virtual-network-vnet-and-firewall-configuration.
        sharedGalleryImageId:
          type: string
          title: The shared gallery image unique identifier
          description: This property is mutually exclusive with other properties and can be fetched from shared gallery image GET call.
        communityGalleryImageId:
          type: string
          title: The community gallery image unique identifier
          description: This property is mutually exclusive with other properties and can be fetched from community gallery image GET call.
    ComputeNodeDeallocationOption:
      type: string
      description: Determines what to do with a node and its running task(s) after it has been selected for deallocation.
      enum:
      - Requeue
      - Terminate
      - TaskCompletion
      - RetainedData
      x-ms-enum:
        name: ComputeNodeDeallocationOption
        modelAsString: false
        values:
        - name: Requeue
          value: Requeue
          description: Terminate running task processes and requeue the tasks. The tasks will run again when a node is available. Remove nodes as soon as tasks have been terminated.
        - name: Terminate
          value: Terminate
          description: Terminate running tasks. The tasks will be completed with failureInfo indicating that they were terminated, and will not run again. Remove nodes as soon as tasks have been terminated.
        - name: TaskCompletion
          value: TaskCompletion
          description: Allow currently running tasks to complete. Schedule no new tasks while waiting. Remove nodes when all tasks have completed.
        - name: RetainedData
          value: RetainedData
          description: Allow currently running tasks to complete, then wait for all task data retention periods to expire. Schedule no new tasks while waiting. Remove nodes when all task retention periods have expired.
    ScaleSettings:
      type: object
      title: Scale settings for the pool
      description: Defines the desired size of the pool. This can either be 'fixedScale' where the requested targetDedicatedNodes is specified, or 'autoScale' which defines a formula which is periodically reevaluated. If this property is not specified, the pool will have a fixed scale with 0 targetDedicatedNodes.
      properties:
        fixedScale:
          $ref: '#/components/schemas/FixedScaleSettings'
          title: Fixed scale settings for the pool.
          description: This property and autoScale are mutually exclusive and one of the properties must be specified.
        autoScale:
          $ref: '#/components/schemas/AutoScaleSettings'
          title: AutoScale settings for the pool.
          description: This property and fixedScale are mutually exclusive and one of the properties must be specified.
    DiskEncryptionConfiguration:
      type: object
      description: The disk encryption configuration applied on compute nodes in the pool. Disk encryption configuration is not supported on Linux pool created with Virtual Machine Image or Azure Compute Gallery Image.
      properties:
        targets:
          type: array
          title: The list of disk targets Batch Service will encrypt on the compute node
          description: On Linux pool, only "TemporaryDisk" is supported; on Windows pool, "OsDisk" and "TemporaryDisk" must be specified.
          items:
            $ref: '#/components/schemas/DiskEncryptionTarget'
        customerManagedKey:
          $ref: '#/components/schemas/DiskCustomerManagedKey'
          title: The Customer Managed Key reference to encrypt the OS Disk.
          description: Customer Managed Key will encrypt OS Disk by EncryptionAtRest, and by default we will encrypt the data disk as well. It can be used only when the pool is configured with an identity and OsDisk is set as one of the targets of DiskEncryption.
    BatchPoolIdentity:
      type: object
      description: The identity of the Batch pool, if configured. If the pool identity is updated during update an existing pool, only the new vms which are created after the pool shrinks to 0 will have the updated identities
      properties:
        type:
          $ref: '#/components/schemas/PoolIdentityType'
          description: The type of identity used for the Batch Pool.
        userAssignedIdentities:
          type: object
          description: The list of user identities associated with the Batch pool.
          additionalProperties:
            $ref: '#/components/schemas/UserAssignedIdentities'
      required:
      - type
    ContainerRegistry:
      type: object
      title: A private container registry.
      description: A private container registry.
      properties:
        username:
          type: string
          title: The user name to log into the registry server.
          description: The user name to log into the registry server.
          x-ms-client-name: userName
        password:
          type: string
          format: password
          title: The password to log into the registry server.
          description: The password to log into the registry server.
          x-ms-secret: true
        registryServer:
          type: string
          title: The registry URL.
          description: If omitted, the default is "docker.io".
        identityReference:
          $ref: '#/components/schemas/ComputeNodeIdentityReference'
          title: The reference to the user assigned identity to use to access an Azure Container Registry instead of username and password.
          description: The reference to a user assigned identity associated with the Batch pool which a compute node will use.
    InboundEndpointProtocol:
      type: string
      description: The protocol of the endpoint.
      enum:
      - TCP
      - UDP
      x-ms-enum:
        name: InboundEndpointProtocol
        modelAsString: false
        values:
        - name: TCP
          value: TCP
          description: Use TCP for the endpoint.
        - name: UDP
          value: UDP
          description: Use UDP for the endpoint.
    UpgradeMode:
      type: string
      description: Specifies the mode of an upgrade to virtual machines in the scale set.<br /><br /> Possible values are:<br /><br /> **Manual** - You  control the application of updates to virtual machines in the scale set. You do this by using the manualUpgrade action.<br /><br /> **Automatic** - All virtual machines in the scale set are automatically updated at the same time.<br /><br /> **Rolling** - Scale set performs updates in batches with an optional pause time in between.
      enum:
      - automatic
      - manual
      - rolling
      x-ms-enum:
        name: UpgradeMode
        modelAsString: false
        values:
        - name: automatic
          value: automatic
          description: All virtual machines in the scale set are automatically updated at the same time.
        - name: manual
          value: manual
          description: You control the application of updates to virtual machines in the scale set. You do this by using the manualUpgrade action.
        - name: rolling
          value: rolling
          description: The existing instances in a scale set are brought down in batches to be upgraded. Once the upgraded batch is complete, the instances will begin taking traffic again and the next batch will begin. This continues until all instances brought up-to-date.
    ApplicationPackageReference:
      type: object
      title: Link to an application package inside the batch account
      description: Link to an application package inside the batch account
      properties:
        id:
          type: string
          title: The ID of the application package to install. This must be inside the same Batch account as the pool. This can either be a reference to a specific version or the default version if one exists.
          description: The ID of the application package to install. This must be inside the same batch account as the pool. This can either be a reference to a specific version or the default version if one exists.
        version:
          type: string
          title: The version of the application to deploy. If omitted, the default version is deployed.
          description: If this is omitted, and no default version is specified for this application, the request fails with the error code InvalidApplicationPackageReferences. If you are calling the REST API directly, the HTTP status code is 409.
      required:
      - id
    MountConfiguration:
      type: object
      title: The file system to mount on each node.
      description: The file system to mount on each node.
      properties:
        azureBlobFileSystemConfiguration:
          $ref: '#/components/schemas/AzureBlobFileSystemConfiguration'
          title: The Azure Storage Container to mount using blob FUSE on each node.
          description: This property is mutually exclusive with all other properties.
        nfsMountConfiguration:
          $ref: '#/components/schemas/NFSMountConfiguration'
          title: The NFS file system to mount on each node.
          description: This property is mutually exclusive with all other properties.
        cifsMountConfiguration:
          $ref: '#/components/schemas/CIFSMountConfiguration'
          title: The CIFS/SMB file system to mount on each node.
          description: This property is mutually exclusive with all other properties.
        azureFileShareConfiguration:
          $ref: '#/components/schemas/AzureFileShareConfiguration'
          title: The Azure File Share to mount on each node.
          description: This property is mutually exclusive with all other properties.
    AllocationState:
      type: string
      description: Whether the pool is resizing.
      enum:
      - Steady
      - Resizing
      - Stopping
      x-ms-enum:
        name: AllocationState
        modelAsString: false
        values:
        - name: Steady
          value: Steady
          description: The pool is not resizing. There are no changes to the number of nodes in the pool in progress. A pool enters this state when it is created and when no operations are being performed on the pool to change the number of nodes.
        - name: Resizing
          value: Resizing
          description: The pool is resizing; that is, compute nodes are being added to or removed from the pool.
        - name: Stopping
          value: Stopping
          description: The pool was resizing, but the user has requested that the resize be stopped, but the stop request has not yet been completed.
    StorageAccountType:
      type: string
      description: The storage account type for use in creating data disks or OS disk.
      enum:
      - Standard_LRS
      - Premium_LRS
      - StandardSSD_LRS
      x-ms-enum:
        name: StorageAccountType
        modelAsString: false
        values:
        - name: Standard_LRS
          value: Standard_LRS
          description: The data disk / OS disk should use standard locally redundant storage.
        - name: Premium_LRS
          value: Premium_LRS
          description: The data disk / OS disk should use premium locally redundant storage.
        - name: StandardSSD_LRS
          value: StandardSSD_LRS
          description: The data disk / OS disk should use standard SSD locally redundant storage.
    CIFSMountConfiguration:
      type: object
      title: Information used to connect to a CIFS file system.
      description: Information used to connect to a CIFS file system.
      properties:
        userName:
          type: string
          title: The user to use for authentication against the CIFS file system.
          description: The user to use for authentication against the CIFS file system.
        source:
          type: string
          title: The URI of the file system to mount.
          description: The URI of the file system to mount.
        relativeMountPath:
          type: string
          title: The relative path on the compute node where the file system will be mounted
          description: All file systems are mounted relative to the Batch mounts directory, accessible via the AZ_BATCH_NODE_MOUNTS_DIR environment variable.
        mountOptions:
          type: string
          title: Additional command line options to pass to the mount command.
          description: These are 'net use' options in Windows and 'mount' options in Linux.
        password:
          type: string
          format: password
          title: The password to use for authentication against the CIFS file system.
          description: The password to use for authentication against the CIFS file system.
          x-ms-secret: true
      required:
      - userName
      - source
      - relativeMountPath
      - password
    IPTag:
      type: object
      title: Specifies how tasks should be distributed across compute nodes.
      description: Specifies how tasks should be distributed across compute nodes.
      properties:
        ipTagType:
          type: string
          title: The IP Tag type.
          description: 'Example: FirstPartyUsage.'
        tag:
          type: string
          title: The value of the IP tag associated with the public IP.
          description: 'Example: SQL.'
    ContainerHostBatchBindMountEntry:
      type: object
      title: The entry of path and mount mode you want to mount into task container.
      description: The entry of path and mount mode you want to mount into task container.
      properties:
        source:
          $ref: '#/components/schemas/ContainerHostDataPath'
          title: The paths which will be mounted to container task's container.
          description: The paths which will be mounted to container task's container.
        isReadOnly:
          type: boolean
          title: Mount this source path as read-only mode or not. Default value is false (read/write mode).
          description: For Linux, if you mount this path as a read/write mode, this does not mean that all users in container have the read/write access for the path, it depends on the access in host VM. If this path is mounted read-only, all users within the container will not be able to modify the path.
    ContainerWorkingDirectory:
      type: string
      description: A flag to indicate where the container task working directory is. The default is 'taskWorkingDirectory'.
      enum:
      - TaskWorkingDirectory
      - ContainerImageDefault
      x-ms-enum:
        name: ContainerWorkingDirectory
        modelAsString: false
        values:
        - name: TaskWorkingDirectory
          value: TaskWorkingDirectory
          description: Use the standard Batch service task working directory, which will contain the Task resource files populated by Batch.
        - name: ContainerImageDefault
          value: ContainerImageDefault
          description: Using container image defined working directory. Beware that this directory will not contain the resource files downloaded by Batch.
    CloudError:
      type: object
      description: An error response from the Batch service.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The body of the error response.
      x-ms-external: true
    NetworkConfiguration:
      type: object
      description: The network configuration for a pool.
      properties:
        subnetId:
          type: string
          title: The ARM resource identifier of the virtual network subnet which the compute nodes of the pool will join. This is of the form /subscriptions/{subscription}/resourceGroups/{group}/providers/{provider}/virtualNetworks/{network}/subnets/{subnet}.
          description: 'The virtual network must be in the same region and subscription as the Azure Batch account. The specified subnet should have enough free IP addresses to accommodate the number of nodes in the pool. If the subnet doesn''t have enough free IP addresses, the pool will partially allocate compute nodes and a resize error will occur. The ''MicrosoftAzureBatch'' service principal must have the ''Classic Virtual Machine Contributor'' Role-Based Access Control (RBAC) role for the specified VNet. The specified subnet must allow communication from the Azure Batch service to be able to schedule tasks on the compute nodes. This can be verified by checking if the specified VNet has any associated Network Security Groups (NSG). If communication to the compute nodes in the specified subnet is denied by an NSG, then the Batch service will set the state of the compute nodes to unusable. If the specified VNet has any associated Network Security Groups (NSG), then a few reserved system ports must be enabled for inbound communication，including ports 29876 and 29877. Also enable outbound connections to Azure Storage on port 443. For more details see: https://learn.microsoft.com/azure/batch/batch-api-basics#virtual-network-vnet-and-firewall-configuration'
          externalDocs:
            description: Create an Azure Batch pool in a virtual network
            url: https://learn.microsoft.com/azure/batch/batch-virtual-networks
        dynamicVnetAssignmentScope:
          type: string
          title: The scope of dynamic vnet assignment.
          description: The scope of dynamic vnet assignment.
          default: none
          enum:
          - none
          - job
          x-ms-enum:
            name: DynamicVNetAssignmentScope
            modelAsString: false
            values:
            - name: none
              value: none
              description: No dynamic VNet assignment is enabled.
            - name: job
              value: job
              description: Dynamic VNet assignment is done per-job. If this value is set, the network configuration subnet ID must also be set. This feature requires approval before use, please contact support
        endpointConfiguration:
          $ref: '#/components/schemas/PoolEndpointConfiguration'
          title: The configuration for endpoints on compute nodes in the Batch pool.
          description: The endpoint configuration for a pool.
        publicIPAddressConfiguration:
          $ref: '#/components/schemas/PublicIPAddressConfiguration'
          title: The Public IPAddress configuration for Compute Nodes in the Batch Pool.
          description: The public IP Address configuration of the networking configuration of a Pool.
        enableAcceleratedNetworking:
          type: boolean
          title: Whether this pool should enable accelerated networking.
          description: 'Accelerated networking enables single root I/O virtualization (SR-IOV) to a VM, which may lead to improved networking performance. For more details, see: https://learn.microsoft.com/azure/virtual-network/accelerated-networking-overview.'
          externalDocs:
            description: Create a VM with Accelerated Networking.
            url: https://learn.microsoft.com/azure/virtual-network/accelerated-networking-overview
    OSDisk:
      type: object
      title: Settings for the operating system disk of the virtual machine.
      description: Settings for the operating system disk of the virtual machine.
      properties:
        ephemeralOSDiskSettings:
          $ref: '#/components/schemas/DiffDiskSettings'
          title: Specifies the ephemeral Disk Settings for the operating system disk used by the virtual machine.
          description: Specifies the ephemeral Disk Settings for the operating system disk used by the virtual machine.
        caching:
          $ref: '#/components/schemas/CachingType'
          title: The type of caching to enable for the disk.
          description: The type of caching to enable for the disk.
        managedDisk:
          $ref: '#/components/schemas/ManagedDisk'
          title: The managed disk parameters.
          description: The managed disk parameters.
        diskSizeGB:
          type: integer
          format: int32
          title: The initial disk size in GB when creating new OS disk.
          description: The initial disk size in GB when creating new OS disk.
        writeAcceleratorEnabled:
          type: boolean
          title: Specifies whether writeAccelerator should be enabled or disabled on the disk.
          description: Specifies whether writeAccelerator should be enabled or disabled on the disk.
    InboundNatPool:
      type: object
      title: A inbound NAT pool that can be used to address specific ports on compute nodes in a Batch pool externally.
[...]
