openapi: 3.2.0
info:
  title: BatchManagementClient Application API
  version: '2025-06-01'
  description: The Batch Management Client.
  x-typespec-generated:
  - emitter: '@azure-tools/typespec-autorest'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: Application
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications
  : get:
      operationId: Application_List
      tags:
      - Application
      description: Lists all of the applications in the specified account.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: maxresults
        in: query
        description: The maximum number of items to return in the response.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApplicationsResult'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ApplicationList:
          $ref: ./examples/ApplicationList.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Application list
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationName}
  : get:
      operationId: Application_Get
      tags:
      - Application
      description: Gets information about the specified application.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: applicationName
        in: path
        description: The name of the application. This must be unique within the account.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ApplicationGet:
          $ref: ./examples/ApplicationGet.json
      summary: Application get
      x-summary-source: derived
    put:
      operationId: Application_Create
      tags:
      - Application
      description: Adds an application to the specified Batch account.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: applicationName
        in: path
        description: The name of the application. This must be unique within the account.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      responses:
        '200':
          description: Resource 'Application' update operation succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ApplicationCreate:
          $ref: ./examples/ApplicationCreate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        description: The parameters for the request.
      summary: Application create
      x-summary-source: derived
    patch:
      operationId: Application_Update
      tags:
      - Application
      description: Updates settings for the specified application.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: applicationName
        in: path
        description: The name of the application. This must be unique within the account.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      responses:
        '200':
          description: Azure operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ApplicationUpdate:
          $ref: ./examples/ApplicationUpdate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
        description: The parameters for the request.
        required: true
      summary: Application update
      x-summary-source: derived
    delete:
      operationId: Application_Delete
      tags:
      - Application
      description: Deletes an application.
      parameters:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter
      - name: accountName
        in: path
        description: 'A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/.'
        required: true
        schema:
          type: string
          maxLength: 24
          minLength: 3
          pattern: ^[a-zA-Z0-9]+$
      - name: applicationName
        in: path
        description: The name of the application. This must be unique within the account.
        required: true
        schema:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      responses:
        '200':
          description: Resource deleted successfully.
        '204':
          description: Resource does not exist.
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      x-ms-examples:
        ApplicationDelete:
          $ref: ./examples/ApplicationDelete.json
      summary: Application delete
      x-summary-source: derived
components:
  schemas:
    ApplicationProperties:
      type: object
      description: The properties associated with the Application.
      properties:
        displayName:
          type: string
          description: The display name for the application.
        allowUpdates:
          type: boolean
          description: A value indicating whether packages within the application may be overwritten using the same version string.
        defaultVersion:
          type: string
          description: The package to use if a client requests the application but does not specify a version. This property can only be set to the name of an existing package.
    CloudError:
      type: object
      description: An error response from the Batch service.
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
          description: The body of the error response.
      x-ms-external: true
    ListApplicationsResult:
      type: object
      description: The result of performing list applications.
      properties:
        value:
          type: array
          description: The Application items on this page
          items:
            $ref: '#/components/schemas/Application'
        nextLink:
          type: string
          format: uri
          description: The link to the next page of items
      required:
      - value
    CloudErrorBody:
      type: object
      description: An error response from the Batch service.
      properties:
        code:
          type: string
          description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        message:
          type: string
          description: A message describing the error, intended to be suitable for display in a user interface.
        target:
          type: string
          description: The target of the particular error. For example, the name of the property in error.
        details:
          type: array
          description: A list of additional details about the error.
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          x-ms-identifiers:
          - message
          - target
      x-ms-external: true
    Application:
      type: object
      description: Contains information about an application in a Batch account.
      properties:
        properties:
          $ref: '#/components/schemas/ApplicationProperties'
          description: The properties associated with the Application.
          x-ms-client-flatten: true
        etag:
          type: string
          description: The ETag of the resource, used for concurrency statements.
          readOnly: true
        tags:
          type: object
          description: The tags of the resource.
          additionalProperties:
            type: string
      allOf:
      - $ref: ../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
